* {
    margin: auto auto;
    font-family: Tahoma;
}

#container {
    width: 90%;
}

#header {
    height: 200px;
    background-color: #39989c;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

#logo {
    width: 400px;
}

#menu {
    float: left;
    width: 30%;
    background-color: #d5d5d5;
    padding: 10px;
}

#main {
    float: right;
    width: 65%;
}

#footer {
    clear: both;
    height: 200px;
    background-color: #39989c;
    color: #fff;
    padding: 10px 0px;
    height: fit-content;
    text-align: center;
}